import logging

# Your Discord bot token here:
token = ""
# You may specify the IDs of additional users that are to be registered as owners here:
extra_owners = []
# Here you can specify guild IDs to exclude from owner ping responses.
ignore_guilds = []
# Logging path and level.
logpath = "suprkewl.log"
loglevels = (logging.CRITICAL, logging.ERROR, logging.WARNING, logging.INFO, logging.DEBUG)
# You can set this to one of the above values, or try your own integer value from 0 to 50 inclusive.
# See the logging docs at https://docs.python.org/3/library/logging.html#levels for more info.
loglevel = loglevels[2]

# If this is true, the log will be cleared on bot startup.
clearLog = False

# Redis config
redis_host = "127.0.0.1"
# IMPORTANT: If you running the bot on a server that is open to the web,
# CHANGE BOTH THESE VALUES HERE AND IN REDIS CONFIG, ESPECIALLY THE PASSWORD
redis_port = "6379"
# Again, this is insecure
# CHANGE IT
redis_password = "testing"

# Path to the SQLite 3 DB you wish to use.
db_path = "skbot.db"

# Travis CI Config.
travis_token = ""
travis_repo_id = 9109252

# rTeX config: use http://rtex.probablyaweb.site, or set up your own instance, see DXSmiley/rtex
rtex_server = "rtex.probablyaweb.site"

# Discord Bot List token - see top.gg/api/docs
dbl_token = ""

# Lavalink server IP and password
lavalink_ip = "127.0.0.1"
lavalink_port = 2333
lavalink_pw = ""  # It's a good idea to change this on public accessible servers

# Hypixel API credentials. Join the server and use /api new to get an API key. Or just use a friend's key.
hypixel_key = ""

# AlexFlipNote API token. You have to be cool to get one (just join his server).
flipnote_key = ""
